@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/*  Barra de Navegación */

.nav-bar{
    z-index: 100;
    position: fixed;
    display: flex;
    width: 100%;
    background-color: transparent;
    height: 60px;
}
.nav-section{
    display: flex;
    width: 55%;
    justify-content: center;
    align-items: center;
}
.nav-section a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 90%;
    text-decoration: none;
    color: aliceblue;
}
.nav-bar a:hover{
    color: rgb(179, 179, 179);
}
.empuje{
    width: 10%;
}
.nav-info{
    display: flex;
    width: 35%;
    justify-content: center;
    align-items: center;
}
.nav-info a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    text-decoration: none;
    color: aliceblue;
}

/* ----------Seccion home -----------  Slider */

#home {
    display: flex;
    width: 100%;
    height: 100vh;
    background: url('public/assets/fondo-slider.jpg' );
    
}
#fondo {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 95%;
    z-index: 1;
}
.slider-element {
    display: none;
    height: 100vh;
}

.sld-active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
    color: aliceblue;
    z-index: 10;
}
.arrow {
    width: 5%;
    display: grid;
    place-items: center;
    z-index: 10;
}
.arrow i {
    color: rgb(220, 233, 245);
    font-size: 30px;
    cursor: pointer;
}
.arrow:hover i{
    color: rgb(148, 156, 163);
}

.btn-slider {
    margin-top: 125px;
    border: solid 2px rgb(154, 3, 3);
    width: 200px;
    background-color: transparent;
    padding: 5px;
    text-decoration: none;
    color: rgb(192, 196, 199);
    font-size: 18px;
    text-align: center;
}

.titulo-slider {
    font-size: 35px;
}

.subtitulo-slider {
    margin-top: 45px;
    font-size: 22px;
}

/*--------------Proyectos---------------*/
#proyects{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery-proyects{
    display: flex;
    height: 380px;
    width: 100%;
}
.proyectos-list{
    margin-top: 25px;
    width: 75%;
    display: flex;
}
.gallery-proyects{
    padding: 20px;
}
.pro-element{
    width: 98%;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
.pro-element{
    padding: 15px;
}
.img-proyect{
    width: 100%;
}
.img-proyect img{
    max-width: 100%;
    border-radius: 3px;
}
.text-proyect{
    margin-top: 15px;
}
.btn-pro{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
}
.btn-pro a{
    background-color: black;
    border: solid red 1px;
    color: aliceblue;
    text-decoration: none;
    width: 25%;
    height: 100%;
    text-align: center;
    padding-top: 5px;
}
.btn-pro a:hover{
    border: solid 1px rgb(129, 5, 5);
    color: rgb(197, 200, 206);
}
.fondo-galeria{
    z-index: 1;
    position: absolute;
    background-color: black;
    opacity: 85%;
    width: 410px;
    animation: aparicion-fondo 1.4s;
    height: 234px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ocultar{
    animation: ocultar-fondo 1.4s;
    width: 0px;
    z-index: 1;
    position: absolute;
    background-color: black;
    opacity: 90%;
    width: 410px;
    align-items: center;
    justify-content: center;
}
.fondo-galeria a{
    padding: 5px;
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
}
.fondo-galeria a:hover{
    text-decoration: underline;
}
.contenedor-galeria{
    position: fixed;
    z-index: 1000;
    width: 1920px;
    height: 100vh;
    background-color: rgba(0,0,0,0.95);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header-gallery{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 400px;
}
.header-gallery a{
    width: 25px;
    height: 25px;
    background-color: transparent;
    text-align: center;
    margin-right: 25px;
    margin-top: 15px;
    text-decoration: none;
    padding: 5px;
    color: aliceblue;
    font-size: 20px;
}
.header-gallery a:hover{
    color: azure;
    cursor: pointer;
}
.galeria-img{
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-gallery{
    color: aliceblue;
}
.img-content{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.img-content img{
    max-width: 100%;
}
.texto-informativo{
    color: aliceblue;
    margin-top: 15px;
}
.btn-enlace a{
    text-decoration: underline;
    color: white;
    padding: 5px;
}
.btn-enlace a:hover{ 
    color: rgb(177, 173, 173);
}

/*-------------------End Proyectos-------------------*/
/* Keyframes para pantallas hd*/

@media screen and (max-width: 1366px)and (min-width: 1250px){   
  
    /* #home{
        background-image: url(../img/slider-img-1.jpg);
        background-attachment: fixed;
        display: flex;
        color: aliceblue;
        width: 100%;
        height: 720px;
    }
    .fondo-slider-1{
        z-index: 1;
        position: absolute;
        background-color: black;
        opacity: 98%;
        width: 100%;
        height: 720px;
    } */
    .proyectos-list{
        margin-top: 25px;
        width: 85%;
        display: flex;
    }
    .gallery-proyects{
        display: flex;
        height: 350px;
        width: 100%;
    }
    .fondo-galeria{
        z-index: 1;
        position: absolute;
        background-color: black;
        opacity: 90%;
        width: 320px;
        animation: aparicion-fondo2 1.2s;
        height: 184px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ocultar{
        animation: ocultar-fondo2 1.2s;
        width: 0px;
        z-index: 1;
        position: absolute;
        background-color: black;
        opacity: 90%;
        width: 320px;
        align-items: center;
        justify-content: center;
    }
    .contenedor-galeria{
        position: fixed;
        z-index: 1000;
        width: 1370px;
        height: 100vh;
        background-color: rgba(0,0,0,0.95);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .header-gallery{
        display: flex;
        justify-content: end;
        width: 100%;
        height: 300px;
    }
    .galeria-img{
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-content{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #habi{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .btn-pro a{
        width: 35%;
    }
    .group-habilidades{
        margin-top: 25px;
        display: flex;
        
    }
    .gallery-habi{
        width: 75%;
    }
    .logo-habi i{
        text-align: center;
        width: 100%;
        font-size: 100px;
    }
    .text-habi{
        text-align: justify;
        padding: 15px;
    }
    .logo-habi i:hover{
        color: brown;
    } 
    /*---------------------------*/
    .group-caract{
        margin-top: 25px;
        display: flex;
        
    }
    .gallery-caract{
        margin-top: 50px;
        width: 75%;
    }
    .img-caract{
        width: 90%;
    }
    .img-caract img{
        max-width: 100%;
    }
    .text-caract{
        text-align: justify;
        padding: 15px;
    }
    .logo-caract i:hover{
        color: brown;
    } 
}
/*Animaciones*/

@keyframes max-height{
    from{
        height: 60px;
        
    }
    to{
        height: 80px;
        
    }
}
@keyframes min-height{
    from{
        height: 80px;
        opacity: 100%;
    }
    to{
        height: 60px;
        opacity: 98%;
    }
}
@keyframes cambio-opacidad{
    from{
        opacity: 98%;
    }
    to{
        opacity: 100%;
    }
}
@keyframes slider-opacidad{
    from{
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}
@keyframes opcion-opacidad{
    from{
        border-bottom: solid 2px rgba( 154, 3, 3, 0.1);
    }
    to{
        border-bottom: solid 2px rgb( 154, 3, 3);
    }
}
@keyframes opacity{
    from{
        background-color: transparent;
    }
    to{
        background-color: black; 
    }
}
@keyframes aparicion-fondo{
    from{
        height: 0px;
    }
    to{
        height: 235px; 
    }
}
@keyframes aparicion-fondo2{
    from{
        height: 0px;
    }
    to{
        height: 184px; 
    }
}
@keyframes ocultar-fondo{
    from{
        height: 234px;
        display: flex;
    }
    to{
        height: 0px;
        display: none; 
    }  
}
@keyframes ocultar-fondo2{
    from{
        height: 184px;
        display: flex;
    }
    to{
        height: 0px;
        display: none; 
    }
}
